body {
    background-image: url("/public/Resources/whether3.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 600px;
}

.container {
    width: 400px;
    margin-left: 250px;
    background-color: rgba(200, 200, 200, 0.6);  /* Green color with 20% opacity */
    margin-top: 50px;
    border-radius: 50px;
    padding: 20px;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.input-box input {
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    background-color: azure;
    width: 300px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: azure;
    border-radius: 50%;
    cursor: pointer;
}

.cloud-image {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    /* color: azure; */
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

.location {
    /* color: azure; */
    font-size: 30px;
}

.all-data {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    /* color: azure; */
}

.humidity
{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 10px;
    gap: 8px;
}
.wind {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 8px; 
}
.error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}

.input-error {
    border: 2px solid red;
}

.icon {
    height: 150px;
    width: 150px;
}